body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    height: 55vh;
}

#count {
    font-size: 30px;
    margin-top: 10px;
}