
body {
    width: 100vw;
    margin: 0;
    font-family: tenon, sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
}

h1 {
    font-family: 'Cutive Mono', monospace;
    margin: 0px 0px 18px;
    font-size: 50px;
    font-weight: 400;
}

p {
    font-weight: 200;
    line-height: 1.4;
    margin: 0px;
}

h2 {
    font-family: tenon, sans-serif;
    margin: 0px 0px 26px;
    font-size: 24px;
    font-weight: 300;
}

.pg{
    padding:0;
}

.columns {
    display:flex;
    flex-direction: row;
    padding: 20px 0px 0px;
}

.info__column{
    width: 35%;
    padding-right: 5%;
}

.video__column{
    width: 65%;
}

.frame__youtube {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.github__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
}

.github__button {
    color: black;
    text-decoration: none;
}

.workshop__organizers-full {
    display: flex;
    flex-direction: row;
}

.workshop__thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.workshop__person {
    font-weight: 200;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

@media only screen and (max-width: 800px) {
    .columns {
        flex-direction: column;
    }

    .info__column {
        width: 100%;
    }

    .video__column {
        width: 100%;
    }
}
