html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

strong {
    font-weight: 300;
    /*color: #C2332F;*/
}

body {
    width: 100vw;
    margin: 0;
    font-family: tenon, sans-serif;
    font-size: 16px;
}

canvas {
    display: block;
}

h1 {
    font-family: 'Cutive Mono', monospace;
    margin: 0px 0px 18px;
    font-size: 50px;
    font-weight: 400;
}

section {
}

section h1 {
    margin-bottom: 80px;
}

#s1 h1 {
    margin-bottom: 18px;
}

h2 {
    font-family: tenon, sans-serif;
    margin: 0px 0px 26px;
    font-size: 24px;
    font-weight: 300;
}

h3 {
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 20px;
}

p {
    font-weight: 200;
    line-height: 1.4;
    margin: 0px;
}

ul {
    font-weight: 200;
    padding-left: 16px;
    margin: 0px;
    /*list-style-type: none;*/
}

li {
    line-height: 1.4;
    margin-bottom: 14px;
}

footer {
    background-color: #2A4291;
    color: white;
    padding: 100px 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__contacts div {
    margin-top: 10px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__right div {
    margin-top: 10px;
}

.footer__socials a {
    margin-left: 10px;
}

.pg {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 140px 12%;
}

.pg__center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 500px;
}

.pg__center_shift {
    align-items: flex-start;
    padding-bottom: 24vw;
    padding-left: 20vw;
}

.pg__workshops {
    padding: 0px;
    padding-bottom: 26vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: #92B770;
    background-image: url("../images/bedroom.png");
}

.pg__bg_home {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../images/landscape.png");
}

.pg__bg_intro {
    padding-bottom: 10vw;
    background-color: #AFD8D0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../images/entryway1.png");
}

.pg__bg_faq {
    padding-bottom: 34vw;
    background-color: #F8DD64;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../images/kitchen.png");
}

.smoke {
    position: absolute;
    width: 8vw;
    left: 80.5vw;
    bottom: 30vw;
    transition: opacity 0.01s;
}

.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.timeline li {
    display: flex;
    justify-content: space-between;
}

.timeline li span {
    white-space: nowrap;
    margin-right: 30px;
}

.timeline li strong {
    text-align: right;
}

.facebook-responsive {
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.facebook-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.btn {
    transition: 0.05s;
    cursor: pointer;
    display: flex;
    outline: none;
    /*justify-content: center;*/
}

.btn i {
    margin-right: 1em;
}

.btn:hover {
    opacity: 0.5;
}

.btn:active {
    opacity: 0.2;
}

.btn__clear {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.btn__box {
    padding: 10px 20px;
    background-color: #F4DE77;
    border-radius: 10px;
    display: inline-block;
}

.btn__link {
    color: #254092;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
}

.btn__link_white {
    font-weight: 200;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.btn__link_black {
    font-weight: 200;
    color: black;
    display: inline-block;
    text-decoration: none;
}

.btn__header {
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.btn__workshop {
    color: inherit;
    text-align: left;
    margin-bottom: 6px;
    border: none;
    padding: 6px 0px;
    position: relative;
    background-color: transparent;
}

.btn__workshop h2 {
    margin: 0px;
    /*font-size: 16px;*/
    /*font-weight: 400;*/
}

.btn__open {
    color: inherit;
    text-decoration: none;
}

.btn__close {
    color: inherit;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.btn__social_white {
    font-size: 24px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.mlh-badge {
    display: block;
    position: absolute;
    z-index: 4;
    right: 50px;
    top: 0;
    width: 80px;
}

.at-span {
    margin: 0px 6px;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 50px 50px;
    text-align: center;
}

.speakers img {
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.speakers h2, .speakers strong, .speakers span {
    margin-top: 5px;
    display: block;
    margin-bottom: 0px;
}

.speakers strong {
    font-weight: 400;
}

.speakers span {
    font-weight: 200;
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 100px;
}

.block__chunk {
    margin-bottom: 50px;
}

.block__chunk > .btn__link {
    display: block;
    margin-top: 1em;
}


.block__padded {
    padding: 140px 12%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.block__workshop {
    margin-top: 0;
    padding-top: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 50%;
    height: calc(75% - 2vw);
    top: 15%;
    right: -50vw;
    background-color: #92B770;
    border-radius: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    overflow: scroll;
}

.block__workshop::-webkit-scrollbar {
    display: none;
}

.block__horizontal {
    display: flex;
    flex-direction: row;
}

.charity img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 40px;
    margin-bottom: 20px;
}

.charity {
    display: flex;
    flex-direction: row;
}

.dropdown {
}

.dropdown__content {
    padding: 8px 6px;
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
}

.dropdown__content a {
    padding: 3px 10px;
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown__content {
    display: flex;
}

.workshop {
    color: white;
}

.workshop__header {
    z-index: 1;
    position: sticky;
    width: 100%;
    position: -webkit-sticky;
    top: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #92B770;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.workshop__name {
    margin: 0px;
}

.workshop__divider {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid white;
}

.workshop__button {
    color: white;
    text-decoration: none;
    margin-left: 16px;
    font-size: 20px;
}

.workshop__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.workshop__thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
    object-fit: cover;
}

.workshop__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.workshop__organizers {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.workshop__person {
    font-weight: 200;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.workshop__body {
    padding: 30px 60px;
}

.underline {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-bottom: 2px solid white;
}

.frame {
    border: none;
}

.frame__wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.frame__spacing {
    margin: 20px 0px;
}

.frame__youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fsab {
    margin-top: 10px;
    font-weight: 200;
    display: flex;
    align-items: flex-end;
}

.fsab img {
    margin-left: 10px;
    height: 20px;
    border: 1px solid white;
}

.clouds {
    height: 100vh;
    width: 100vw;
    position: fixed;
    pointer-events: none;
    top: 0px;
    z-index: 1000;
    overflow: hidden;
}

.clouds__left {
    position: fixed;
    height: 100vh;
    right: 100%;
    object-fit: cover;
    transition: right 2s;
}

.clouds__left_active {
    right: -100%;
}

.clouds__right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: fixed;
    height: 100vh;
    left: 100%;
    width: auto;
    object-fit: cover;
    transition: left 2s;
}

.clouds__right_active {
    left: -100%;
}

.spinner {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    z-index: 2000;
}

@media only screen and (max-width: 600px) {
    .mlh-badge {
        right: 100px;
        width: 60px;
    }

    footer {
        padding: 50px 36px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__right {
        align-items: flex-start;
        margin-top: 20px;
    }

    .footer__socials a {
        margin-left: 0px;
        margin-right: 10px;
    }

    .pg {
        padding: 140px 36px;
    }

    .block__padded {
        padding: 0px 0px 140px;
    }

    .block__blurb {
        margin-top: 20px;
    }

    .pg__bg_home {
        align-items: center;
    }

    .pg__bg_faq {
        padding-bottom: 40vw;
    }

    .block {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-height: 500px) {
    .smoke {
        opacity: 0;
    }
}


@media only screen and (max-width: 800px) {
    .block__workshop {
        width: 0%;
    }

    .charity {
        flex-direction: column;
    }

    .workshop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 3;
        opacity: 0;
        display: none;
    }

    .underline {
        display: none;
    }
}

#s1 {
    opacity: 0;
}
