body {
    margin: 0;
    font-family: tenon, sans-serif;
    font-size: 18px;
}

header {
    width: 100%;
    position: fixed;
    backdrop-filter: blur(3px);
    padding: 10px 12%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

canvas {
    display: block;
}

section {
}

h1 {
    font-family: 'Cutive Mono', monospace;
    margin: 0px 0px 20px;
    font-size: 50px;
    font-weight: 400;
}

h2 {
    margin: 0px 0px 30px;
    font-size: 26px;
    font-weight: 400;
}

h3 {

}

p {
    font-weight: 300;
    line-height: 1.4;
}

.header__full {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pg {
    background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 140px 12%;
}

.pg__center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 500px;
}

.btn {
    transition: 0.05s;
    cursor: pointer;
    display: flex;
    /*justify-content: center;*/
}

.btn:hover {
    opacity: 0.5;
}

.btn__box {
    padding: 10px 20px;
    background-color: yellow;
}

.btn__header {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.at-span {
    margin: 0px 6px;
}

.block {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 100px;
}

.dropdown {
}

.dropdown__content {
    padding: 8px 6px;
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
}

.dropdown__content a {
    padding: 3px 10px;
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown__content {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .block {
        grid-template-columns: 1fr;
    }
    .header__full {
        display: none;
    }
}
