
body {
    width: 100vw;
    margin: 0;
    font-family: tenon, sans-serif;
    font-size: 16px;
    background-color: #92B770;
    color: white;
}

.workshop {
    height: 100%;
}

h1 {
    font-family: tenon, sans-serif;
    margin: 0px 0px 18px;
    font-size: 60px;
    font-weight: 400;
}

.workshop__header {
    z-index: 1;
    position: sticky;
    width: 100%;
    position: -webkit-sticky;
    top: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #92B770;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.workshop__links {
    display: flex;
    flex-direction: row;
    width: 20%;
    min-width: 15px;
    justify-content: space-between;
    margin-bottom: 20%;
}

.workshop__body {
    box-sizing: border-box;
    padding: 40px 8%;
}

.columns {
    display:flex;
    flex-direction: row;
    min-height: 40%;
}

.info__column{
    width: 50%;
    padding-right: 5%;
}

.video__column{
    width: 45%;
}

.workshop__links .btn {
    margin-top: 2em;
    color: white;
    height: 17px;
    padding: 10px;
    background-color: transparent;
    border: none;
}

.btn {
    transition: 0.05s;
    cursor: pointer;
    display: flex;
    outline: none;
    text-decoration: none;
    /*justify-content: center;*/
}

.btn:hover {
    opacity: 0.5;
}

.btn:active {
    opacity: 0.2;
}

.header__logo {
    height: 17px;
    color: white;
}

.fab {
    font-size: 50px;
}

.frame__youtube {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.workshop__organizers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}